@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #040054;
  --secondary: #9a9dd9;
  --tertiary: #d3dcde;
  --destructive: hsl(0 84.2% 60.2%);
}

body {
  color: theme('colors.white');
  background: var(--primary);
}

.grecaptcha-badge {
  visibility: hidden !important;
}
