@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

:root {
  --primary: hsl(0 0% 9%);
  --secondary: hsl(0 0% 96.1%);
  --tertiary: #d3dcde;
}

body {
  color: var(--color-white);
  background: var(--color-primary);
  font-family: var(--font-nourd), sans-serif;
}
